# 临时文件
# 忽略所有 . 开头的目录，除了以下特殊制定的文件夹
.*/
!.vscode/
!.github/
!.husky/
.vscode/extensions.json
.vscode/launch.json
.user.json
.DS_Store

# tsconfig
tsconfig.tsbuildinfo

# node 模块
**/node_modules/
**/yarn.lock

# 构建文件
/dist
