.trae/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
# 只忽略根目录和特定目录的 tsconfig.json，不忽略 packages 下的
tsconfig.json
**/eslint.config.mjs
eslint.config.mjs
# 只忽略根目录的 .map 文件，不忽略 packages 下的
*.map
# 只忽略 src 目录下的 .ts 文件，不忽略 packages 下的
src/**/*.ts
**/.vscode.*
.idea/**
.git/**
**/.git/**
**/.idea/**
**/.github/**
**/.gitignore
.gitattributes
**/.gitattributes
.gitmodules
**/.gitmodules
workflow/!(postinstall|utils).js
node_modules/**
tests/**
jest/**
@types/**
.cocos/**
.user.json
.npmmrc
.publish/**
repo.json
.github/**